.container-experience-card {
    background-color: rgba(67, 67, 67, 20%);
    border-radius: 24px;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.header-experience-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px 20px 10px;
}

.part-header-experience-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.title-primary {
    font-size: 24px;
    font-family: "jost-bold";
}

.title-secondary {
    font-size: 20px;
    font-family: "jost-medium";
}

.title-thirdly {
    font-size: 16px;
    font-family: "jost-regular";
}

.container-activities {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 10px;
}

.container-activity {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.vignette-activity {
    width: 10px;
    height: 10px;
    background-color: var(--color-primary);
    border-radius: 50px;
}

.activity {
    font-family: "jost-regular";
}

@media (max-width: 1060px) {

    .header-experience-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .part-header-experience-card {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }

    .title-primary {
        font-size: 16px;
    }

    .title-secondary {
        font-size: 14px;
    }

    .title-thirdly {
        font-size: 12px;
    }

    .activity {
        font-size: 14px;
    }
}