<main class="main-projects">
    <h1 class="title-projects">{{ name() }}</h1>
    @if ( currentProject(); as project ) {
        <div class="container-project">
            <div class="container-information-project">
                <div class="container-images-project">
                    <button class="btn-before">
                        <img src="icons/icons8-back-96.png" width="24">
                    </button>
                    <img src="images/{{project.images[0]}}.jpg" width="500">
                    <button class="btn-after">
                        <img src="icons/icons8-next-96.png" width="24">
                    </button>
                </div>
                <div class="container-technologies-project">
                    @for (technology of project.technologies; track technology) {
                        <p class="technology-project">{{ technology }}</p>
                    }
                </div>
                <p class="text-project">{{ project.information }}</p>
            </div>
            <div class="container-cards-extra">
                @for (repo of project.repositories; track repo.link) {
                    <div class="container-card-repo">
                        <div class="header-card-repo">
                            <img [class]="repo.logo === 'github' ? 'background-circle-white' : ''" src="logos/icons8-{{repo.logo}}-48.png" width="32">
                            <p>{{repo.site}}</p>
                        </div>
                        <p class="description-card-repo">{{repo.description}}</p>
                        <a class="btn-link-card-repo" href="{{repo.link}}" target="_blank">Ver {{repo.type}}</a>
                    </div>
                }
                @for (high of project.highlights; track high.title) {
                    <div class="container-card-repo">
                        <div class="header-card-repo">
                            <img src="logos/logo-{{high.logo}}.png" width="150">
                        </div>
                        <div class="container-highlight">
                            <p class="title-card-highlight">{{high.title}}</p>
                            <p class="description-card-repo">{{high.description}}</p>
                            <img class="image-highlight" src="images/{{high.image}}.jpg">
                        </div>
                    </div>
                }
            </div>
        </div>
    }
   
</main>