.main-projects {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin-left: 50px;
    z-index: 2;
    margin-bottom: 30px;
}

.title-projects {
    color: var(--color-primary);
    font-size: 24px;
    margin-bottom: 20px;
}

.container-project {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #ffffff;
}

.container-information-project {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.btn-before, .btn-after {
    background-color: rgba(19, 4, 22, 35%);
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.btn-before {
    border-radius: 16px 0 0 16px;
}

.btn-after {
    border-radius: 0 16px 16px 0;
}

.btn-before:hover, .btn-after:hover {
    background-color: rgba(95, 64, 100, 0.35);

}

.container-images-project {
    display: flex;
    flex-direction: row;
}

.container-technologies-project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.technology-project {
    white-space: nowrap;
    background-color: var(--color-primary);
    padding: 8px  14px;
    font-size: 14px;
    font-family: "jost-medium";
    text-align: center;
    border-radius: 50px;
}

.text-project {
    font-family: "jost-regular";
    width: 100%;
}

.container-cards-extra {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-card-repo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 24px;
    background-color: rgba(151, 71, 255, 20%);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(255, 0, 170, 0.1);
    padding: 10px;
    width: 300px;
}

.header-card-repo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "jost-bold";
    font-size: 20px;
    background-color: rgba(19, 4, 22, 20%);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(255, 0, 170, 0.1);
    padding: 10px;
    border-radius: 16px;
}

.background-circle-white {
    background-color: #ffffff;
    border-radius: 50px;
}

.description-card-repo {
    text-align: center;
    font-family: "jost-regular";
}

.btn-link-card-repo {
    color: #ffffff;
    font-family: "jost-semibold";
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(255, 0, 170, 20%);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(255, 0, 170, 0.1);
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}

.btn-card-repo:hover {
    background-color: rgba(59, 0, 40, 0.2);
}

.title-card-highlight {
    font-family: "jost-medium";
}

.container-highlight {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin: 0 5px;
}

.image-highlight {
    width: 100%;
    border-radius: 24px;
}

@media (max-width: 1090px) {
    .container-project {
        flex-direction: column;
    }

    .technology-project {
        font-size: 11px;
    }
}
