.main-projects {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin-left: 50px;
    z-index: 2;
}

.title-projects {
    color: var(--color-primary);
    font-size: 24px;
    margin-bottom: 20px;
}

.container-project {
    display: flex;
    flex-direction: row;
    color: #ffff;
}

.container-information-project {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
}

.btn-before, .btn-after {
    background-color: rgba(19, 4, 22, 35%);
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.btn-before {
    border-radius: 16px 0 0 16px;
}

.btn-after {
    border-radius: 0 16px 16px 0;
}

.btn-before:hover, .btn-after:hover {
    background-color: rgba(95, 64, 100, 0.35);

}

.container-images-project {
    display: flex;
    flex-direction: row;
}

.container-technologies-project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.technology-project {
    white-space: nowrap;
    background-color: var(--color-primary);
    padding: 8px  14px;
    font-size: 14px;
    font-family: "jost-medium";
    text-align: center;
    border-radius: 50px;
}

.text-project {
    font-family: "jost-regular";
    width: 550px;
}