.main-projects {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    margin-left: 50px;
    z-index: 2;
    margin-bottom: 30px;
}

.title-projects {
    color: var(--color-primary);
    font-size: 24px;
    margin-bottom: 20px;
}

.container-project-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.link-project {
    text-decoration: none;
    width: fit-content;
}