/* You can add global styles to this file, and also import other style files */

:root {
    --color-primary: #FF00AA;
}

body {
    font-family: 'Jost', sans-serif !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: #210B25;
    width: fit-content;
}

h1 {
    margin: 0;
    font-weight: 700;
}

h2 {
    margin: 0;
    font-weight: 600;
}

p {
    margin: 0;
    font-weight: 400;
}

button, a {
    font-family: 'Jost', sans-serif;
}

.deco-big-circle-blur {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FF00AA;
    width: 300px;
    height: 300px;
    border-radius: 100% 0 0 0;
    filter: blur(100px);
    z-index: 1;
}

@media (max-width: 1060px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

}