/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "jost-regular";
    src: url("/fonts/Jost-Regular.ttf") format("truetype");
    font-display: swap
}


@font-face {
    font-family: "jost-medium";
    src: url("/fonts/Jost-Medium.ttf") format("truetype");
    font-display: swap
}

@font-face {
    font-family: "jost-bold";
    src: url("/fonts/Jost-Bold.ttf") format("truetype");
    font-display: swap
}

@font-face {
    font-family: "jost-semibold";
    src: url("/fonts/Jost-SemiBold.ttf") format("truetype");
    font-display: swap
}

:root {
    --color-primary: #FF00AA;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: #210B25;
    width: fit-content;
}
h1 {
    font-family: "jost-bold";
}

p {
    margin: 0;
}

.deco-big-circle-blur {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FF00AA;
    width: 300px;
    height: 300px;
    border-radius: 100% 0 0 0;
    filter: blur(100px);
    z-index: 1;
}

@media (max-width: 1060px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

}