    <button class="hamburger-menu" (click)="interactionMenu()" [class.open]="isMenuOpen">
       <span></span>
       <span></span>
       <span></span>
    </button>

<nav [class.active]="isMenuOpen">
    <div class="internal-navegation">
        @for (linkI of internalLinks; track linkI.title) {
            <a [class]="currentUrl() === linkI.url ? 'link-to-page actual-page' : 'link-to-page'" [href]="linkI.url">
                <div class="container-icon-link">
                    <div [class]="currentUrl() === linkI.url ? 'icon-link-blur' : 'icon-link-blur icon-blur'"></div>
                    <img class="icon" width="24" height="24" [src]="linkI.iconCDN" [alt]="linkI.alt"/>
                </div>
                <div class="container-title-link">
                    <p class="title-link">{{ linkI.title }}</p>
                </div>
                
            </a>
        }
    </div>

    <div class="container-social-media">
        <a class="link-to-social-media" href="https://www.tiktok.com/@meow.dev" target="_blank">        
            <img src="images/meow-dev-tiktok.png" width="60">
            <div>
                <p><b>@meow.dev</b></p>
                <p>en <b>TikTok</b></p>
            </div>
        </a>
    </div>

    <div class="external-navegation">
        @for (linkE of externalLinks; track linkE.title) {
            <a class="link-to-external-page" [href]="linkE.url" target="_blank">
                <img [class]="linkE.title === 'GitHub' ? 'icon-external background-circle-white' : 'icon-external'" width="32" height="32" [src]="linkE.iconCDN" [alt]="linkE.alt"/>
                <p class="title-link">{{ linkE.title }}</p>
            </a>
        }
    </div>

</nav>
